@import "../variables";
@import "../mixins";


.services_wrapper{
    padding: 50px 0;
    .services_list{
        margin-top: 20px;
    }
    .service_title{
        font-family: $bold;
        margin-bottom: 40px;
        padding-top: 30px;
    }
    .service_block{
        margin-bottom: 35px;
    }
    .image_block{
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        vertical-align: top;
    }
    .inlineImg_section .goal_info {
        height: 100%;
        .info_inner {
            padding-left: 60px;
            max-width: 735px;
            height: 100%;
        }    
    } 
    .buttons_line{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .site_btn{
            margin-left: auto;
            max-width: 200px;
            width: 100%;
        }
    }
    .button_block{
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            border: none;
            outline: none;
            font-size: 24px;
            line-height: 31px;
            cursor: pointer;
            background: transparent;
            color: $black;
            transition: 0.3s;
            display: flex;
            align-items: center;
            &.loadding {
                .spinner-border{
                    opacity: 1;
                }
            }
            .spinner-border{
                transition: 0.5s;
                opacity: 0;
                margin-left: 15px;
            }
            &:hover{
                opacity: 1;
                color: $siteColor;
            }
        }
    }
    .section_description{
        transition: 0.5s;
        &.active{
            height: 100% !important;
        }
    }
    .seeMore{
        font-size: 20px;
        line-height: 21px;
        color: #5A5A5A;
        opacity: 1;
        transition: 0.5s;
        &.hide{
            opacity: 0;
            pointer-events: none;
        }
    }
    
    @media (max-width: 991px) {
        padding: 40px 0;
        .service_title {
            margin-bottom: 20px;
            padding-top: 20px;
        }
        .inlineImg_section .goal_info .info_inner {
            padding-left: 0;
            max-width: none;
            padding: 0 20px;
        }
        .site_btn {
            height: 45px;
            font-size: 16px;
            line-height: 24px;
            max-width: 170px;
            padding: 0 15px;
        }
    }
}